
*

!.gitignore
!documentation/
!documentation/anatomy_of_a_hello_world.md
!documentation/philosophy.md
!documentation/refrence.md
!source/
!source/*
!source/**/*
!test/
!test/*
!test/**/test.sh
!test/**/test.sl
!makefile
!readme.md
